<!-- File: read_text_corrected.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Text-to-Speech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body > 

    <div >
        <a href="{{ url_for('index') }}">HOME</a><br/>
        <a href="{{ url_for('read_text') }}">Create Another Audio File</a><br/>
    <h1>Text-to-Speech</h1>
    <form method="POST">
        <textarea name="text" rows="5" cols="40" placeholder="Enter text"></textarea><br>
        <button type="submit">Read Aloud</button>
    </form>
    <br/>
    {% if speech %}
    <audio controls>
        {% if 'encode_audio' in app.jinja_env.filters %}
            <source src="data:audio/mpeg;base64,{{ app.jinja_env.filters['encode_audio'](speech) }}" type="audio/mpeg">
        {% else %}
            <!-- Log a warning message in case the filter is not recognized -->
            {% set _ = logger.warning("encode_audio filter is NOT recognized in the template") %}
        {% endif %}
        Your browser does not support the audio element.
    </audio>
    {% endif %}

    <a href="{{ url_for('list_audio') }}">List Audio Files</a><br/>
    {% if speech %}
<a href="{{ url_for('list_audio') }}">List Audio Files</a><br/>

<p>Saved text as <a href="{{ url_for('download_text', filename=txt_filename) }}">{{ txt_filename }}</a></p><br/>
{% endif %}

    <script>
        function encode_audio(data) {
            return btoa(String.fromCharCode.apply(null, data));
        }
    </script>
</div>
</body>
</html>
